.achievement {
    background-color:#eee;
    padding:15px;
    margin:20px;
    border-bottom:1px solid #6E0100;
}
.achievement h2{
    color:#333;
}
.achievement .post-meta {
    color:#999;
    padding-bottom:12px;
}
.achievement .the-content {
    color:#222;
}
.achievement-widget {
    height:170px;
    overflow:hidden;
}

.asked-achievement-widget {
    background-color:#E8EB96;
    height:170px;
    overflow:hidden;
}

.completed-achievement-widget {
    background-color:#B0E7B7;
    height:170px;
    overflow:hidden;
}

.post-list{
    margin-left:auto;
}
