.achievement {
    background-color:#eee;
}
.achievement h2{
    color:#333;
}
.achievement .post-meta {
    color:#999;
    padding-bottom:12px;
}
.achievement .the-content {
    color:#222;
}
.achievement-widget {
    border:20px solid white;
    height:200px;
    padding:0px;
    overflow:hidden;
}

.asked-achievement-widget {
    background-color:#E0DFBE;
}

.completed-achievement-widget {
    background-color:#C3E0BE;
}

.post-list{
    margin-left:auto;
}
.pontuacao-achievement{
    font-size:24px;
    color:#999;
    padding:0px;
    white-space:nowrap;
}

.widget-content{
    width:100%;
    padding:15px;
    border-bottom:1px solid #6E0100;
    height:100%;
    margin:0px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
}
@media only screen and (max-width : 768px) {
    .widget-content{
        flex-wrap:wrap;
    }
    .achievement-widget{
        height:250px;
    }
     
}
.widget-content h2{
    margin:0px;
    display:inline !important;
}

.achievement-full{
    padding:20px;
    margin:20px;
}
