.achievement {
    background-color:#eee;
    border:20px solid white;
}
.achievement h2{
    color:#333;
}
.achievement .post-meta {
    color:#999;
    padding-bottom:12px;
}
.achievement .the-content {
    color:#222;
}
.achievement-widget {
    height:200px;
    padding:0px;
    overflow:hidden;
}

.asked-achievement-widget {
    background-color:#E0DFBE;
}

.completed-achievement-widget {
    background-color:#C3E0BE;
}

.post-list{
    margin-left:auto;
}
.pontuacao-achievement{
    font-size:24px;
    color:#999;
    padding:0px;
    white-space:nowrap;
}

.widget-content{
    width:100%;
    padding:15px;
    border-bottom:1px solid #6E0100;
    height:100%;
    margin:0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.widget-content h2{
    margin:0px;
    display:inline !important;
}
