.atividade {
    background-color:#eee;
}
.atividade h2{
    color:#333;
}
.atividade-full{
    padding:20px;
    border-bottom:1px solid #6E0100;
}

.atividade .post-meta {
    color:#999;
    padding-bottom:12px;
}
.atividade .the-content {
    color:#222;
}
.atividade-widget {
    border:20px solid  white;
    padding:0px;
    overflow:hidden;
}
.post-list a:hover{
    text-decoration:none;
}

@media only screen and (min-width : 768px) {
    .atividade-widget{
        height:390px;
    }
    .atividade h2{
        height:99px;
    }
}
.content-widget{
    clear:both;
    padding-top:20px;
}
.pontuacao{
    font-size:18px;
}
.inner-atividade-widget{
    border-bottom:1px solid #6E0100;
    height:100%;
    padding:15px;
}
