.atividade {
    background-color:#eee;
    border:20px solid  white;
}
.atividade h2{
    color:#333;
}
.atividade .post-meta {
    color:#999;
    padding-bottom:12px;
}
.atividade .the-content {
    color:#222;
}
.atividade-widget {
    height:300px;
    padding:0px;
    overflow:hidden;
}
.content-widget{
    clear:both;
    padding-top:10%;
}
.pontuacao{
    font-size:18px;
}
.inner-atividade-widget{
    border-bottom:1px solid #6E0100;
    height:100%;
    padding:15px;
}
